In [19]:
# 아래에 링크에 접속하셔서 csv파일을 다운로드한 후, 문제를 풀어주세요:)
# 해당 데이터 다운 받기 : https://www.data.go.kr/data/15126554/fileData.do

import pandas as pd

# 데이터 불러오기(수업시간에 진행하는 것처럼 data파일 안의 excel파일에 다운로드를 하여 사용해주세요.)
datafile = pd.read_csv('./data/excel/한국언론진흥재단_뉴스빅데이터_연도 및 과목별 언론의 수능난이도 평가_20221231.csv', encoding='utf-8', delimiter=',')


# 데이터 확인
display(datafile)
print(type(datafile))

      연도  과목  보도 기사 수  언론의 추정 난이도 평균  언론의 추정 난이도 표준편차
0   2013  국어       80       0.375000         0.752633
1   2013  수학       92       0.641304         0.603680
2   2013  영어       87       0.620690         0.651320
3   2014  국어      142       0.647887         0.573618
4   2014  수학      147      -0.591837         0.558313
5   2014  영어      140      -0.764286         0.557625
6   2015  국어       93       0.634409         0.672195
7   2015  수학       83       0.795181         0.535542
8   2015  영어       84       0.404762         0.851916
9   2016  국어       69       0.985507         0.120386
10  2016  수학       49       0.959184         0.199915
11  2016  영어       42       0.761905         0.484367
12  2017  국어       77       0.909091         0.289365
13  2017  수학       60       0.900000         0.302532
14  2017  영어       54       0.037037         0.671887
15  2018  국어       94       1.000000         0.000000
16  2018  수학       56       0.517857         0.571794
17  2018  영어       50       0.740000         0.486973
18  2019  국어       85      -0.294118         0.753145
19  2019  수학       62       0.596774         0.556914
20  2019  영어       45      -0.355556         0.679423
21  2020  국어       57       0.035088         0.962974
22  2020  수학       45       0.466667         0.625227
23  2020  영어       28      -0.214286         0.568112
24  2021  국어       74       0.608108         0.637150
25  2021  수학       79       0.835443         0.406056
26  2021  영어       54       0.722222         0.563569
27  2022  국어       88      -0.590909         0.654540
28  2022  수학       85       0.600000         0.601585
29  2022  영어       51       0.627451         0.598691

<class 'pandas.core.frame.DataFrame'>

In [20]:
# 국어(korean)/수학(math)/ 영어(english) 과목 별로 따로 데이터를 저장하기
df =  datafile.groupby("과목")
korean= df.get_group("국어")
display(korean)

      연도  과목  보도 기사 수  언론의 추정 난이도 평균  언론의 추정 난이도 표준편차
0   2013  국어       80       0.375000         0.752633
3   2014  국어      142       0.647887         0.573618
6   2015  국어       93       0.634409         0.672195
9   2016  국어       69       0.985507         0.120386
12  2017  국어       77       0.909091         0.289365
15  2018  국어       94       1.000000         0.000000
18  2019  국어       85      -0.294118         0.753145
21  2020  국어       57       0.035088         0.962974
24  2021  국어       74       0.608108         0.637150
27  2022  국어       88      -0.590909         0.654540

In [21]:
math =df.get_group("수학")
display(math)

      연도  과목  보도 기사 수  언론의 추정 난이도 평균  언론의 추정 난이도 표준편차
1   2013  수학       92       0.641304         0.603680
4   2014  수학      147      -0.591837         0.558313
7   2015  수학       83       0.795181         0.535542
10  2016  수학       49       0.959184         0.199915
13  2017  수학       60       0.900000         0.302532
16  2018  수학       56       0.517857         0.571794
19  2019  수학       62       0.596774         0.556914
22  2020  수학       45       0.466667         0.625227
25  2021  수학       79       0.835443         0.406056
28  2022  수학       85       0.600000         0.601585

In [30]:
english = df.get_group('영어')
display(english)

      연도  과목  보도 기사 수  언론의 추정 난이도 평균  언론의 추정 난이도 표준편차
2   2013  영어       87       0.620690         0.651320
5   2014  영어      140      -0.764286         0.557625
8   2015  영어       84       0.404762         0.851916
11  2016  영어       42       0.761905         0.484367
14  2017  영어       54       0.037037         0.671887
17  2018  영어       50       0.740000         0.486973
20  2019  영어       45      -0.355556         0.679423
23  2020  영어       28      -0.214286         0.568112
26  2021  영어       54       0.722222         0.563569
29  2022  영어       51       0.627451         0.598691

In [32]:
# '보도 기사 수'가 많을 수록 난이도가 어렵다고 가정할때,  
# 1) 국어가 가장 어려웠던 연도와 가장 쉬웠던 연도의 정보를 구하라
# (해당 연도의 모든 정보 : 연도, 과목, 보도 기사 수, 언론의 추정 난이도 평균, 언론의 추정 난이도 표준편차에 대한 정보들)

# 출력문 예시)
#	  연도	과목	보도 기사 수	언론의 추정 난이도 평균	언론의 추정 난이도 표준편차
# 3	2014	국어	142	0.647887	0.573618


# 1-1) 국어가 가장 어려웠던 연도
print("1-1")
display(korean.loc[korean["보도 기사 수"] ==  korean['보도 기사 수'].max(),:])
print()

print("1-2")
# 1-2) 국어가 가장 쉬웠던 연도의 정보
display(korean.loc[korean["보도 기사 수"] ==  korean['보도 기사 수'].min(),:])
print()

# 2) 수학이 가장 어려웠던 연도와 가장 쉬웠던 연도의 정보를 구하라
# (해당 연도의 모든 정보 : 연도, 과목, 보도 기사 수, 언론의 추정 난이도 평균, 언론의 추정 난이도 표준편차에 대한 정보들)
# 2-1) 수학이 가장 어려웠던 연도
print("2-1")
display(math.loc[math["보도 기사 수"] ==  math['보도 기사 수'].max(),:])
print()

# 2-2) 수학이 가장 쉬웠던 연도의 정보
print("2-2")
display(math.loc[math["보도 기사 수"] ==  math['보도 기사 수'].min(),:])
print()

# 3) 영어가 가장 어려웠던 연도와 가장 쉬웠던 연도의 정보를 구하라
# (해당 연도의 모든 정보 : 연도, 과목, 보도 기사 수, 언론의 추정 난이도 평균, 언론의 추정 난이도 표준편차에 대한 정보들)
# 3-1) 영어가 가장 어려웠던 연도
print("3-1")
display(english.loc[english["보도 기사 수"] ==  english['보도 기사 수'].max(),:])
print()

# 3-2) 영어가 가장 쉬웠던 연도의 정보
print("3-2")
display(english.loc[english["보도 기사 수"] ==  english['보도 기사 수'].min(),:])
print()

1-1

     연도  과목  보도 기사 수  언론의 추정 난이도 평균  언론의 추정 난이도 표준편차
3  2014  국어      142       0.647887         0.573618

1-2

      연도  과목  보도 기사 수  언론의 추정 난이도 평균  언론의 추정 난이도 표준편차
21  2020  국어       57       0.035088         0.962974

2-1

     연도  과목  보도 기사 수  언론의 추정 난이도 평균  언론의 추정 난이도 표준편차
4  2014  수학      147      -0.591837         0.558313

2-2

      연도  과목  보도 기사 수  언론의 추정 난이도 평균  언론의 추정 난이도 표준편차
22  2020  수학       45       0.466667         0.625227

3-1

     연도  과목  보도 기사 수  언론의 추정 난이도 평균  언론의 추정 난이도 표준편차
5  2014  영어      140      -0.764286         0.557625

3-2

      연도  과목  보도 기사 수  언론의 추정 난이도 평균  언론의 추정 난이도 표준편차
23  2020  영어       28      -0.214286         0.568112